bin/Debug
obj/Debug

CoreApi/bin/Debug/netcoreapp2.2/CoreApi.dll
CoreApi/bin/Debug/netcoreapp2.2/CoreApi.deps.json
CoreApi/bin/Debug/netcoreapp2.2/CoreApi.dll
CoreApi/bin/Debug/netcoreapp2.2/CoreApi.pdb
CoreApi/bin/Debug/netcoreapp2.2/CoreApi.runtimeconfig.dev.json
CoreApi/bin/Debug/netcoreapp2.2/CoreApi.runtimeconfig.json
CoreApi/obj/CoreApi.csproj.nuget.cache
CoreApi/obj/CoreApi.csproj.nuget.dgspec.json
CoreApi/obj/CoreApi.csproj.nuget.g.props
CoreApi/obj/project.assets.json
CoreApi/obj/Debug/netcoreapp2.2/CoreApi.AssemblyInfo.cs
CoreApi/obj/Debug/netcoreapp2.2/CoreApi.AssemblyInfoInputs.cache
CoreApi/obj/Debug/netcoreapp2.2/CoreApi.assets.cache
CoreApi/obj/Debug/netcoreapp2.2/CoreApi.csproj.CoreCompileInputs.cache
CoreApi/obj/Debug/netcoreapp2.2/CoreApi.csproj.FileListAbsolute.txt
CoreApi/obj/Debug/netcoreapp2.2/CoreApi.csprojAssemblyReference.cache
CoreApi/obj/Debug/netcoreapp2.2/CoreApi.dll
CoreApi/obj/Debug/netcoreapp2.2/CoreApi.pdb
CoreApi/obj/Debug/netcoreapp2.2/CoreApi.RazorAssemblyInfo.cache
CoreApi/obj/Debug/netcoreapp2.2/CoreApi.RazorAssemblyInfo.cs
CoreApi/obj/Debug/netcoreapp2.2/CoreApi.RazorTargetAssemblyInfo.cache
CoreApi/obj/Debug/netcoreapp2.2/project.razor.json
